<select id="themechange" onchange="selectTheme()">
     <option>xq-light</option>
     <option>xq-dark</option>
     <option>3024-day</option>
     <option>3024-night</option>
     <option>ambiance</option>
     <option>base16-dark</option>
     <option>base16-light</option>
     <option>blackboard</option>
     <option>cobalt</option>  
     <option>eclipse</option>
     <option>elegant</option>
     <option>erlang-dark</option>
     <option>lesser-dark</option>
     <option>midnight</option>
     <option>monokai</option>
     <option>neat</option>
     <option>night</option>
     <option>rubyblue</option>
     <option>solarized dark</option>
     <option>solarized light</option>
     <option>tomorrow-night-eighties</option>
     <option>twilight</option>
     <option>vibrant-ink</option>
</select>
