<h1>CodeMirror: Ruby mode</h1>

<select id="themechange" onchange="selectTheme()">
  <option>default</option>
  <option>3024-day</option>
  <option>3024-night</option>
  <option>ambiance</option>
  <option>base16-dark</option>
  <option>base16-light</option>
  <option>blackboard</option>
  <option>cobalt</option>  
  <option>eclipse</option>
  <option>elegant</option>
  <option>erlang-dark</option>
  <option>lesser-dark</option>
  <option>midnight</option>
  <option>monokai</option>
  <option>neat</option>
  <option>night</option>
  <option>rubyblue</option>
  <option>solarized dark</option>
  <option>solarized light</option>
  <option>tomorrow-night-eighties</option>
  <option>twilight</option>
  <option>vibrant-ink</option>
  <option>xq-dark</option>
  <option>xq-light</option>
</select><br><br>

<div class="code" id="code">

</div>