<div class="page_heading">
  <h1>New Topic</h1>
</div>

<div class="centering_wrapper one">
  <div class="form_wrap">
    <h2 class="center">Enter Topic Name</h2>
    <%= form_for @topic, url: {action: "create"} do |f| %>
      <%= f.label "Name: " %>
      <%= f.text_field (:name) %><br>
      <%= f.submit "Add Topic" %>
    <% end %>
  </div>
</div>
