<div class="page_heading">
  <h1>Create a Feedback Question</h1>
</div>

<div class="centering_wrapper one">
  <div class="form_wrap">
    <h2 class="center">New Question</h2>
    <%= form_for @question do |f| %>
      <p>Question prompt</p>
      <%= f.text_field :prompt %>
      <br>
      <%= f.submit "Add Question" %>
    <% end %>
  </div>
</div>
