body {
  font-family: Helvetica, Arial;
  padding: 0; margin: 0;
  background-color: #ccc;
}

.logotype {
  font-size: 36px;
  color: #ccc;
  float: left;
}

.login {
  float: right;
  margin-right: 60px;
  color: #000;
  xborder: 1px #000 solid;
  padding-top: 20px;
}

header {
  width: 100%;
  background-color: #fff;
  color: #fff;
  padding: 20px 40px;
  height: 50px;
}

#container {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

#user_nav {
  width: 960px;
}

.interview {
  width: 100%;
  background-color: #242424;
  color: #fff;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  padding: 20px 0 80px;
  font-size: 26px;
  font-weight: 300;
}

.interview h2 {
  font-size: 60px;
  color: #00db33;
}

.interview input {
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  border: none;
  padding:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #111;
  color: #fff;
  font-weight: 400;
}

.error {
  text-align: center;
  font-size: 18px;
}

input {
  font-size: 18px;
  padding: 5px;
}

.signin {
  xborder: 1px #000 solid;
  width: 300px;
  float: right;
}

.register {
  xborder: 1px #000 solid;
  width: 400px;
  float: left;
}

.ad {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 80px;
  clear: both;
  background-color: #5f6372;
  font-size: 20px;
  text-align: center;
}

.ad1 {
  background-color: #5f6372;
}

.ad2 {
  background-color: #fff;
}

.ad p {
  width: 800px;
  margin: 0 auto;
  line-height: 32px;
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
}

.ad h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 42px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #444;
  clear: both;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

.main_emp {
  width: 100%;
  margin: 0 auto;
  float:left;
}

.show_employee {
  float:left;
  width: 200px;
  background-color: #242424;
  padding: 60px 40px 200px 40px;
}

.show_employee a,
.show_employee a:active,
.show_employee a:visited
{
  color: #fff;
  text-decoration: none;
}

.show_employee h1 {
  color: #00db33;
}

.show_interview {
  float: left;
}

.show_emp_interviews {
  float: left;
  width: 400px;
  padding: 30px 10px 70px 30px;
}

#interview_sidebar {
  width: 200px;
  border: 1px #000 solid;
  background-color: #242424;
  color: #fff;
  padding: 60px 40px 20px 40px;
}

#interview_sidebar h2 {
  color: #00db33;
}

#interview_show_wrapper {
  float: left;
  xwidth: 400px !important;
}

#interview_challenge_wrapper {
  float: left;
}

#interview_video_wrapper {
  background-color: #111;
  float:left;
}