.heading {
  margin-bottom: 32px;
}

.heading a {
  margin: 0 8px 0 0;
}

.heading a, .heading a:visited, .heading a:hover {
  color: #999999;
  text-decoration: none;
}

.heading a:hover {
  color: #3E98D9;
}

.centering_wrapper {
  float: none;
  margin: 0 auto;
  overflow: hidden;
}

.module {
  width: 302px;
  margin: 0 8px 0 8px;
  padding: 0;
}
